@import url('https://fonts.googleapis.com/css2?family=Bangers&family=Stack+Sans+Headline:wght@200..700&display=swap');

* {
    box-sizing: border-box;
    margin: 0 auto;
    padding: 0;
    text-align: center;
}

.heading {
    font-family: 'Bangers', sans-serif;
    font-size: 50px;
    color: rgb(204, 0, 255);
    text-shadow: 1px 1px 2px black;
    margin-bottom: 30px;
    user-select: none;
}

.instructions {
    font-size: 30px;
    font-family: 'Stack Sans Headline', sans-serif;
    color: rgb(0, 79, 148);
    margin-bottom: 20px;
    user-select: none;
}

.spans {
    color: rgb(255, 102, 0);
    user-select: none;
}

.question {
    font-size: 30px;
    font-family: 'Stack', sans-serif;
    color: rgb(11, 54, 92);
    margin-bottom: 20px;
    font-weight: 600;
    user-select: none;
}

.sentences {
    font-size: 50px;
    font-family: 'Stack', sans-serif;
    color: rgb(22, 78, 0);
    margin-bottom: 50px;
    user-select: none;
}

.inputs {
    width: 110px;
    font-size: 50px;
    border-style: none;
    border-bottom: 1px solid rgb(18, 92, 0);
    color: rgb(151, 1, 151);
    user-select: none;
}

.videos {
    width: 600px;
    position: relative;
    margin-bottom: 0px;
    cursor: pointer;
    border-radius: 20px;
    user-select: none;
}

.buttons {
    font-size: 20px;
    width: 100px;
    height: 25px;
    border-radius: 10px;
    box-shadow: 1px 1px 2px black;
    margin-bottom: 10px;
    cursor: pointer;
    background-color:rgb(125, 147, 148);
    color: white;
    position: relative;
    left: 249px;
    top: -30px;
    user-select: none;
    justify-content: center;
    align-items: center;
}

.buttons:active {
    box-shadow: none;
}

.next {
    position: relative;
    top: 0px;
    font-family: 'bangers';
    font-size: 50px;
    text-shadow: 1px 1px 2px black;
    text-decoration: none;
    user-select: none;
    visibility: hidden;
}